:root {
  --bg: #000;

  --fg: #fff;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--fg);

  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 
    "video sidebar"
    "timeline sidebar";
}

section#video {
  grid-area: video;
  position: relative;

  background: rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

section#timeline {
  grid-area: timeline;
  padding: 10px;
}

section#sidebar {
  grid-area: sidebar;
}

section#video > section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  max-width: 100%;
  max-height: 100%;
}

#dropZone {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: grey;
}


#time {
  position: relative;
  height: 3.5em;
  width: calc(100% - 20px);

  margin: 1em 10px 0 10px;

  background: rgb(87, 87, 87);
  cursor: pointer;
}

#time > .cursor {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  border: 1px solid white;
  border-radius: 2px;
}

#time > .region {
  width: 200px;

  height: 100%;

  border: 1px solid rgb(66, 235, 206);
  border-left: none;
  border-right: none;

  background: rgb(28, 42, 53);
}

#time > .region > div:where(.a, .b) {
  display: inline-block;
  width: 10px;
  height: 3.5em;

  border: 2px solid rgb(66, 235, 206);
  border-radius: 6px 0 0 6px;

  background:rgb(66, 235, 206);

  margin-top: -1px;
  margin-left: -10px;

  cursor: ew-resize;
}

#time > .region > div.b {
  float: right;
  border-radius: 0 6px 6px 0;
  margin-left: 0;
  margin-right: -10px;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input[type=radio] {
  display: none;
}

input[type=radio]+label {
  display: inline-block;
  padding: 5px 10px;

  /* height: 1.5em; */
  vertical-align: middle;

  border-radius: 5px;
  background-color: rgb(46, 90, 148);
  color: white;

  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

input[type=radio]+label:hover {
  background-color: rgb(62, 114, 182);
}

input[type=radio]:checked + label {
  background-color: rgb(29, 42, 78);
}